<%= render :partial => "page_modules/#{@page.name.parameterize}" rescue nil %>

<div class="page-header">
  <h1><%= @page.name %><small></small></h1>
</div>


<div class="row">
	<div class="col-md-<%= content_for?(:side_left) ? '4' : '0' %>">
		<%= yield :side_left %>
	</div>
	<% if content_for?(:side_left) && content_for?(:side_right) %>
		<div class="col-md-4">
	<% elsif content_for?(:side_left) && content_for?(:side_right).blank? || content_for?(:side_left).blank? && content_for?(:side_right) %>
		<div class="col-md-8">
	<% else %>
		<div class="col-md-12">
	<% end %>
		<div class="page_top">
			<%= yield :page_top %>
		</div>

		<div class="media">
			<% unless @page.image.blank? %>
			  <a class="pull-left" data-toggle="modal" data-target="#imageModal_<%= @page.friendly_id %>" href="#">
			    <%= image_tag @page.image.url(:medium), :class => 'media-object' %>
			  </a>
			  <div class="modal fade" id="imageModal_<%= @page.friendly_id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			    <div class="modal-dialog">
		        <div class="modal-content">
		        	<div class="modal-body">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<%= image_tag @page.image.url(:large), :class => 'media-object' %>
		        	</div>
		        </div>
			    </div>
		   	</div>
			<% end %>
		  <div class="media-body">
		    <%= redcloth(@page.body) %>
		  </div>
		</div>

		<div class="page_bottom">
			<%= yield :page_bottom %>
		</div>

		<hr />

		<% unless @posts.blank? %>
			<%= render :partial => "posts/list/list_for_#{@page.name.parameterize}" rescue render :partial => 'posts/list/list' %>
		<% end %>

		<div class="after_posts">
			<%= yield :after_posts %>
		</div>
	</div>
	<div class="col-md-<%= content_for?(:side_right) ? '4' : '0' %>">
		<%= yield :side_right %>
	</div>
</div>