<div class="media">
	<% unless @post.image.blank? %>
	  <a class="pull-left" data-toggle="modal" data-target="#imageModal_<%= @post.id %>" href="#">
	    <%= image_tag @post.image.url(:medium), :class => 'media-object' %>
	  </a>
	  <div class="modal fade" id="imageModal_<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<%= image_tag @post.image.url(:large), :class => 'media-object' %>
        	</div>
        </div>
	    </div>
   	</div>
	<% end %>
  <div class="media-body">
    <h2 class="media-heading"><%= @post.title %></h2>
    <%= redcloth(@post.body) %>
  </div>
</div>