<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>CMS Admin2</title>
      <meta name="description" content="">
      <meta name="viewport" content ="width=device-width; initial-scale=1.0;">

		  <%= stylesheet_link_tag  "admin/application", media: "all", "data-turbolinks-track" => true %>
		  <%= yield :stylesheets %>

		  <%= csrf_meta_tags %>

    </head>
    
    <body>

			<%= render :partial => 'admin/template/menu.html.erb' %>

			<div class="admin_content">
				<%= render :partial => 'admin/template/alerts' %>
				<div class="container">
					<%= yield %>
					<div class="copyright">
						<%= Time.now.year %> &copy; CMS Admin2
					</div>
				</div>
			</div>

			<%= javascript_include_tag "admin/application", "data-turbolinks-track" => true %>
		</body>
</html>
