<!DOCTYPE html>
<html>
<head>
  <title>CmsAdmin2</title>
  <%= stylesheet_link_tag  "public/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => 'template/menu' %>
	<%= render :partial => 'template/alerts' %>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
