<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	  <title>VeloPaso</title>
	  <%= stylesheet_link_tag  "public/application", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render :partial => 'template/menu' %>
		<%= render :partial => 'template/alerts' %>
		<div class="container">
			<%= yield %>
		</div>

		<%= javascript_include_tag "public/application", "data-turbolinks-track" => true %>
	</body>
</html>